// ======================================
//  Variables
// ======================================

// Colors

$white: #fff;
$color-text: #777;
$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-img-frame: #ccc;

// Fonts

// Breakpoint
$break-desktop: 768px; 


// // Theme colors
// $themes: (
//   'ent': #79ccf5,
//  'arch': #fd6fa6, 
//   'edu': #23bbae,
//   'sim': #2377bb,
//   'soc': #ada3f0,
// 'games': #3cb144,
// );